apiVersion: v1
kind: Service
metadata:
  namespace: giiovanimp
  name: demo-blue-green-svc
spec:
  type: LoadBalancer
  ports:
    - port: 80
  selector:
    app: demo-bg
    tier: app
    version: v1